// =========================================================
// * Material Dashboard - v3.0.2
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/material-dashboard
// * Copyright 2022 Creative Tim (https://www.creative-tim.com)
//
// Coded by www.creative-tim.com
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// Bootstrap Functions
@import "material-dashboard/bootstrap/functions";

// Custom Variables
@import "material-dashboard/custom/variables";

// Theme Variables
@import "material-dashboard/variables";

// Bootstrap Core
@import "material-dashboard/bootstrap/bootstrap";

// Theme Core
@import "material-dashboard/theme";

// Custom Variables
@import "material-dashboard/custom/styles";
